                <div id="sidebar-inner">
                    <div id="about-blog">
                        <form class="site-search">
                            <input placeholder="What are you looking for?" type="search" />
                        </form>
                        <img src="/assets/images/hello.png" alt="Hello" />
                        <p>Welcome to my blog! I’m Angel Kittiyachavalit and I’m a designer and developer living in San Francisco. Here you’ll find some of the random things I love. Hope you enjoy my blog, and thanks for visiting!</p>
                        <ul>
                            <li><a class="store share_nix nix_icon-store" href="http://angellov.es" target="_blank"> My store</a></li>
                            <li><a class="portfolio share_nix nix_icon-briefcase" href="http://angellov.es" target="_blank"> My portfolio</a></li>
                        </ul>
                        <div id="about-social">
                            <a class="share_nix nix_icon-twitter" target="_blank" href="http://twitter.com/angelk"></a>
                            <a class="share_nix nix_icon-pinterest" target="_blank" href="http://pinterest.com/angel"></a>
                            <a class="share_nix nix_icon-flickr" target="_blank" href="http://flickr.com/angel_kittiy"></a>
                            <a class="share_nix nix_icon-dribbble" target="_blank" href="http://dribbble.com/angel"></a>
                            <a class="share_nix nix_icon-github" target="_blank" href="http://github.com/akit"></a>
                        </div>
                        <div class="instagram">
                            <div class="instagram-header">
                                <p class="share_nix nix_icon-instagram"></p>
                                <h5 class="posttitle_nix">Always Instagrammin'</h5>
                            </div>
                            <ul class="ch-grid">
                                <li>
                                    <a href="http://instagram.com/akitkat" target="_blank">
                                        <div class="ch-item ch-akitkat">
                                            <div class="ch-info">@akitkat</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/puppymapper" target="_blank">
                                        <div class="ch-item ch-puppymapper">
                                            <div class="ch-info">@puppymapper</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
